# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Virtual environments
.venv/
venv/
backend/.venv/

# Temp python cache folders
.pycache_tmp/
